@model IEnumerable<Blog.Data.Models.Category>

@{
    ViewData["Title"] = "AllCategories";
    Layout = "~/Views/Shared/_LayoutBase.cshtml";

}





<div>
    <partial name="Create_Category_Partial" />
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryNo)
            </th>
            <th style="visibility:hidden">
                    @Html.DisplayNameFor(model => model.ID)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryNo)
                    </td>

                    <td>
                       
                        @*<a name="updateCategory" data-catgry_name="@item.Name" data-catgry_no="@item.Name" data-catgry_id="@item.Name"
                              
                                id="updateCategory">
                            Edit
                        </a>2id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })*@
                    </td>
                </tr>
            }}

    </tbody>
</table>


